.Modflex {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "next current logo"
    "next current logo"
    "topic topic topic";
  grid-template-columns: 1fr 3fr 1fr;
}
.Caucustext {
  text-align: center;
  font-style: bold;
  font-family: "Poppins", sans-serif;
  font-size: 5vh;
  text-transform: lowercase;
  color: white;
  opacity: 50%;
  padding-top: 8vh;
}
.Caucusdata {
  width: 18rem;
}
.Speakertext {
  font-style: normal;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 5vh;
  text-transform: uppercase;
  color: white;
  padding-top: 6vh;

}
.Speakerdata {
  font-style: bold;
  align-content: center;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  border: 3px solid #caf0f8;
  border-radius: 1.5rem;
}

.Speakerdata h3 {
  font-style: bold;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.Topictext {
  font-style: normal;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  margin-top: 0.5rem;
}
.modmunlogo {
  height: 20vh;
  width: auto;
  margin-top: 10vh;
}
.caucuspres {
  grid-area: next;
  align-items: center;
  display:grid;
  margin-top: 20vh;
  margin-bottom: auto;
}
.speakerpres {
  grid-area: current;
}
.logopres {
  align-items: center;
  grid-area: logo;
}
.topicpres {
  grid-area: topic;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5vh;
}
.speakertimerpres {
  bottom: 50vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.timerstyle {
  font-family: "IBM Plex Mono", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  color: white;
}
.timerstyle h3 {
  font-family: "IBM Plex Mono", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  color: white;
}
.Topicstyle {
  text-wrap: wrap;
  font-family: "Poppins", sans-serif;
  width: 60vw;
  color: white;
  border-radius: 0.5rem;
  background-color: #023e8a;
  text-align: center;
  margin: auto;
}
.Topicstyle h3 {
  font-size: 6vh;
  text-transform: uppercase;
}
.countryData {
  margin-top: 40vh;
}

#speaktime {
  position: absolute;
  top: 10vh;
}
/* ---------------------------------- */

.Modflex, .Caucustext, .Caucusdata, .Speakertext, .Speakerdata, .Topictext, 
.modmunlogo, .caucuspres, .speakerpres, .logopres, .topicpres, 
.speakertimerpres, .timerstyle, .Topicstyle, .countryData {
  z-index: 5;
}

#caucus h3 {
  font-size:10rem;
}